<div>
  <app-toolbar title="Cadastro de Viagem" [return]="return"> </app-toolbar>
  <div class="wrapper">
    <mat-card>
      <form [formGroup]="newTripForm">
        <mat-form-field appearance="outline">
          <mat-label> Caminhão </mat-label>
          <mat-select formControlName="caminhao_id">
            <mat-option *ngFor="let truck of trucks" [value]="truck.id">
              {{ truck.placa }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="newTripForm.get('caminhao_id').hasError('required')"
            >Campo obrigatório</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> Partida </mat-label>
          <mat-select formControlName="endereco_origem">
            <mat-option *ngFor="let destino of destinos" [value]="destino.id">
              {{ destino.location }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="newTripForm.get('endereco_origem').hasError('required')"
            >Campo obrigatório</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> Destino </mat-label>
          <mat-select formControlName="endereco_destino">
            <mat-option *ngFor="let destino of destinos" [value]="destino.id">
              {{ destino.location }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="newTripForm.get('endereco_destino').hasError('required')"
            >Campo obrigatório</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> Carga </mat-label>
          <input matInput formControlName="carga" />
          <mat-error *ngIf="newTripForm.get('carga').hasError('required')"
            >Campo obrigatório</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> Peso Líquido(T) </mat-label>
          <input type="number" matInput formControlName="peso_inicial" />
          <mat-error
            *ngIf="newTripForm.get('peso_inicial').hasError('required')"
            >Campo obrigatório</mat-error
          >
        </mat-form-field>
        <button
          [disabled]="!newTripForm.valid"
          (click)="registerTrip()"
          mat-raised-button
          color="primary"
        >
          Cadastrar
        </button>
      </form>
    </mat-card>
  </div>
</div>
