button {
    margin-left: auto;
  }
  
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  mat-card {
    margin-top: 50px;
    width: 40%;
  
    form {
      display: flex;
      width: 100%;
      flex-flow: column nowrap;
  
      mat-form-field {
        width: 100%;
      }
  
      button {
        margin-top: 20px;
      }
    }
  }
  