<div>
  <app-toolbar title="Cadastro de Caminhões" [return]="return"> </app-toolbar>
  <div class="wrapper">
    <mat-card>
      <form [formGroup]="newTruckForm">
        <mat-form-field appearance="outline">
          <mat-label> Placa </mat-label>
          <input matInput formControlName="placa" />
          <mat-error *ngIf="newTruckForm.get('placa').hasError('required')"
            >Campo obrigatório</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> Chassi </mat-label>
          <input matInput formControlName="chassi" />
          <mat-error *ngIf="newTruckForm.get('chassi').hasError('required')"
            >Campo obrigatório</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> Modelo </mat-label>
          <input matInput formControlName="modelo" />
          <mat-error *ngIf="newTruckForm.get('modelo').hasError('required')"
            >Campo obrigatório</mat-error
          >
        </mat-form-field>
        <button
          [disabled]="!newTruckForm.valid"
          (click)="registerTruck()"
          mat-raised-button
          color="primary"
        >
          Cadastrar
        </button>
      </form>
    </mat-card>
  </div>
</div>
