<div class="Login">
  <img src="assets/Mtrucklogo.jpg" alt="MTruck" />
  <div class="Login-wrapper">
    <form class="Login-form" [formGroup]="loginForm">
      <h3>Login</h3>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="loginForm.get('email').hasError('required')"
          >Campo obrigatório</mat-error
        >
        <mat-error *ngIf="loginForm.get('email').hasError('email')"
          >Digite um formato de email válido</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput formControlName="senha" />
        <mat-error *ngIf="loginForm.get('senha').hasError('required')"
          >Campo obrigatório</mat-error
        >
      </mat-form-field>
      <div class="Login-buttons">
        <button
          [disabled]="!loginForm.valid"
          (click)="login()"
          mat-raised-button
          color="warn"
        >
          Entrar
        </button>
      </div>
    </form>
  </div>
</div>
