<div class="Login">
  <img src="assets/Mtrucklogo.jpg" alt="MTruck" />
  <div class="Login-wrapper">
    <div class="Login-form">
      <h3>Login</h3>
      <mat-form-field appearance="outline">
        <mat-label>Login</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput />
      </mat-form-field>
      <div class="Login-buttons">
        <button (click)="login()"mat-raised-button color="warn">Entrar</button>
        <div class="Login-buttons-register">
          <h3>Novo?</h3>
          <h3><a href="https://www.w3schools.com">Criar conta</a>.</h3>
        </div>
      </div>
    </div>
  </div>
</div>
