<div class="Login">
  <img src="assets/Mtrucklogo.jpg" alt="MTruck" />
  <div class="Login-wrapper">
    <form class="Login-form" [formGroup]="loginForm">
      <h3>Login</h3>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput formControlName="senha" />
      </mat-form-field>
      <div class="Login-buttons">
        <button
          [disabled]="!loginForm.valid"
          (click)="login()"
          mat-raised-button
          color="warn"
        >
          Entrar
        </button>
        <div class="Login-buttons-register">
          <h3>Novo?</h3>
          <h3><a href="https://www.w3schools.com">Criar conta</a>.</h3>
        </div>
      </div>
    </form>
  </div>
</div>
