<div>
  <app-toolbar title="Edição de Gerente" [return]="return"></app-toolbar>
  <div class="wrapper">
    <mat-card>
      <form [formGroup]="editUserForm">
        <mat-form-field appearance="outline">
          <mat-label> Nome do Usuário </mat-label>
          <input matInput formControlName="nome" />
          <mat-error *ngIf="editUserForm.get('nome').hasError('required')"
            >Campo obrigatório</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> CPF </mat-label>
          <input
            type="text"
            mask="000.000.000-00"
            matInput
            formControlName="cpf"
            mask="000.000.000-00"
          />
          <mat-error *ngIf="editUserForm.get('cpf').hasError('required')"
            >Campo obrigatório</mat-error
          >
          <mat-error *ngIf="editUserForm.get('cpf').hasError('minlength')"
            >Escreva todos os digitos do CPF</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> E-mail </mat-label>
          <input matInput formControlName="email" />
          <mat-error *ngIf="editUserForm.get('nome').hasError('required')"
            >Campo obrigatório</mat-error
          >
          <mat-error *ngIf="editUserForm.get('email').hasError('email')"
            >Digite um formato de email válido</mat-error
          >
        </mat-form-field>

        <button
          [disabled]="!editUserForm.valid"
          (click)="editUser()"
          mat-raised-button
          color="primary"
        >
          Editar
        </button>
      </form>
    </mat-card>
  </div>
</div>
