<div>
  <app-toolbar title="Cadastro de Usuários" [return]="return"></app-toolbar>
  <div class="wrapper">
    <mat-card>
      <form [formGroup]="newUserForm">
        <mat-form-field appearance="outline">
          <mat-label> Nome do Usuário </mat-label>
          <input matInput formControlName="nome" />
          <mat-error *ngIf="newUserForm.get('nome').hasError('required')"
            >Campo obrigatório</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> CPF </mat-label>
          <input
            type="text"
            mask="000.000.000-00"
            matInput
            formControlName="cpf"
          />
          <mat-error *ngIf="newUserForm.get('cpf').hasError('required')"
            >Campo obrigatório</mat-error
          >
          <mat-error *ngIf="newUserForm.get('cpf').hasError('minlength')"
            >Escreva todos os digitos do CPF</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> E-mail </mat-label>
          <input matInput formControlName="email" />
          <mat-error *ngIf="newUserForm.get('email').hasError('required')"
            >Campo obrigatório</mat-error
          >
          <mat-error *ngIf="newUserForm.get('email').hasError('email')"
            >Digite um formato de email válido</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> Senha </mat-label>
          <input type="password" matInput formControlName="password" />
          <mat-error *ngIf="newUserForm.get('password').hasError('required')"
            >Campo obrigatório</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> Repetir senha: </mat-label>
          <input type="password" matInput formControlName="rptPassword" />
          <mat-error *ngIf="newUserForm.get('rptPassword').hasError('required')"
            >Campo obrigatório</mat-error
          >
        </mat-form-field>

        <button
          [disabled]="!newUserForm.valid"
          (click)="registerUser()"
          mat-raised-button
          color="primary"
        >
          Cadastrar
        </button>
      </form>
    </mat-card>
  </div>
</div>
