<div>
  <app-toolbar title="Cadastro de Empresa" [return]="return"></app-toolbar>
  <div class="wrapper">
    <mat-card>
      <form [formGroup]="newCompanyForm">
        <mat-form-field appearance="outline">
          <mat-label> Nome da Empresa </mat-label>
          <input matInput formControlName="nome" />
          <mat-error *ngIf="newCompanyForm.get('nome').hasError('required')"
            >Campo obrigatório</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> CNPJ </mat-label>
          <input
            type="text"
            mask="00.000.000/0000-00"
            matInput
            formControlName="cnpj"
          />
          <mat-error *ngIf="newCompanyForm.get('cnpj').hasError('required')"
            >Campo obrigatório</mat-error
          >
          <mat-error *ngIf="newCompanyForm.get('cnpj').hasError('minlength')"
            >Escreva todos os digitos do CNPJ</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> Sede </mat-label>
          <input matInput formControlName="sede" />
          <mat-error *ngIf="newCompanyForm.get('sede').hasError('required')"
            >Campo obrigatório</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> Contratos </mat-label>
          <mat-select formControlName="contrato_id">
            <mat-option
              *ngFor="let contrato of contratos"
              [value]="contrato.id"
            >
              {{ contrato.tipo }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="newCompanyForm.get('contrato_id').hasError('required')"
            >Campo obrigatório</mat-error
          >
        </mat-form-field>
        <button
          [disabled]="!newCompanyForm.valid"
          (click)="registerCompany()"
          mat-raised-button
          color="primary"
        >
          Cadastrar
        </button>
      </form>
    </mat-card>
  </div>
</div>
